:root {
  --main-color: rgb(22, 154, 231);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}

h1 {
  margin: 30px 5px;
  font-size: 50px;
  letter-spacing: 3px;
  font-family: "Passion One", cursive;
  color: var(--main-color);
  cursor: default;
}

.cards {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  margin: 0 auto 20px auto;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 3px rgb(190, 190, 190);
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s linear;
}

.remove {
  align-self: flex-end;
  margin: 5px 5px 6px 0;
  font-size: 18px;
  cursor: pointer;
}
.add-bt {
  background-color: var(--main-color);
  border-radius: 20px;
  color: white;
  box-shadow: 1px 1px 5px rgb(16, 129, 173);
  padding: 10px 30px;
  font-weight: bold;
  align-self: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.add-bt:hover {
  background-color: rgb(48, 184, 238);
}

.overlay {
  /* display: none; */

  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
}

.note {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(5%, 5%);
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(36, 36, 36);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  animation: note-open 0.25s linear;
}
@keyframes note-open {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 90%;
    height: 90vh;
  }
}

.hide {
  display: none;
  animation: note-close 0.25s linear forwards;
}

.edit {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: var(--main-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cancel-bt,
.save-bt {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
textarea {
  font-size: 20px;
  background-color: white;
  padding: 20px 10px;
  height: 90vh;
  vertical-align: top;
  border-radius: 10px;
  border-top: 1px solid grey;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* overflow: scroll; */
}
p {
  word-break: break-all;
  overflow: hidden;
  padding: 0 5px;

  height: 50%;
}

@media only screen and (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    height: 25vh;
  }
  .add-bt {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1150px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }
  .card {
    height: 25vh;
  }
}
